/* 5 sections total - header, hero, main, down, footer*/
body {
    font-family: 'Roboto';
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 16px 136px;
    flex: 1 1 auto;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.link-one,
.link-two,
.link-three {
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  #1F2937;
    height: 300px;
    width: 90%;
    padding: 64px 64px;
    gap: 32px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 400px;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 4px;
}

.image {
    font-size: 18px;
    color: #E5E7EB;
    background-color: grey;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.top-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 32px;
}

.illustration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    gap: 32px;
}

.empty-box {
    width: 150px;
    height: 150px;
    border: 4px #3882F6 solid;
    border-radius: 10px;
}

.box-text {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.down {
    display: flex;
    flex-direction: column;
}


.action {
    display: flex;
    flex-direction: row;
}

.blue {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color:  #1F2937;
}